body{font-family: "Montserrat";}
h1,h2,h3{font-family: "Raleway";}
._wrapped{max-width: 1170px; margin: 0 auto;}
.header-w-subtitle{text-align: center;}

.flex-list{display: flex;}
.flex-list._horizontal{flex-direction: row;}
.flex-list._vertical{flex-direction: column;}
.flex-list._w-wrap{flex-wrap: wrap;}

.slider__item {display: none;}
.slider__item .active{display: block;}